{% for interface in device.interfaces.all() %}
interface {{ interface.name }}
  {% if interface.description %}
  description "{{interface.description}}"
  {%- endif %}
  {% for address in interface.ip_addresses.filter(address__family=4) +%}
  ip address {{ address.address.ip }} {{ address.address.netmask }}{% if not loop.first %} secondary{% endif%}
  {% endfor %}
  {% for address in interface.ip_addresses.filter(address__family=6) +%}
  ipv6 address {{ address.address.ip }}/{{ address.address.prefixlen }}
  {% endfor %}
  {% if interface.speed %}
  no negotiation auto
  speed {{ interface.speed // 1000}}
  {% endif %}
{% endfor %}